# Node
node_modules

# Env Variables
.env*
!.env.example

# package-lock
coverage/*

# VScode
.vscode
tsconfig.json
.vercel
.env*.local

# Logs
holi.logs

dist/*
!dist/.gitkeep 

package.json
package-lock.json